<ion-header>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="margem">
        <div>
          <img src="../../assets/images/logo_apresentacao.png" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <div>
        </div>
      </ion-col>
      <ion-col>
        <div class="texto_inicial">
          Faça sua conta e dê inicio ao seu sonho de se tornar um artista famoso!!!
        </div>
      </ion-col>
      <ion-col>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button class="btn_apresentacao" href="http://localhost:8100/login" size="large" color="secondary" shape="round">Entrar</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button class="btn_apresentacao" href="http://localhost:8100/cadastro" size="large" color="secondary" shape="round">Inscreva-se</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
