<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo" src=".\assets\logo-roxo.png" alt="Liber">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="login">
    <img class="logo_login" src=".\assets\logo-roxo.png" alt="Liber">
    <div class="item">
      <ion-input placeholder="Usuario ou número de telefone"></ion-input>
    </div>
    <div class="item">
      <ion-input placeholder="Senha"></ion-input>
    </div>
    <ion-button color="tertiary" href="\home">Entrar</ion-button>
    <h2>Esqueceu a senha?</h2>
    <h3>Não tem uma conta? <ion-text color="tertiary"><i> Cadastre-se</i></ion-text></h3>
  </div>
</ion-content>

